@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    overflow-x: hidden;  /* Firefox */
  }
}
.indexWrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@keyframes gradient-flow {
  0%, 100% {
    background-position: 0% 50%; 
  }
  50% {
    background-position: 100% 50%;
  }
}
.text-gradient-aurora {
  background-image: linear-gradient(to right, #4ade80, #3b82f6, #8822fc, #4ade80); 
  background-size: 200% auto;
  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
  text-shadow: 0 0 4px rgba(100, 255, 200, 0.2), 0 0 8px rgba(59, 130, 246, 0.1);

  animation: gradient-flow 3.5s ease-in-out infinite;
}