@import "tailwindcss";
@font-face {
    font-family: "Mons";
    src: url("../../assets/fonts/Montserrat-VariableFont_wght\ —\ копия.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-VariableFont_wght\ —\ копия.woff") format("woff");
    font-weight: 350;
    font-style: normal;
}
body, html  {
    background-color: #090a14;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Mons";
}
::selection {
    background: rgb(110, 124, 255); 
    color: white;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}